.table-container {
    padding: 20px;
    margin: 0 auto; /* Centra horizontalmente */
    width: 80%; /* Limita el ancho del contenedor */
}

.clientes-table {
    width: 100%; /* Ocupa todo el ancho disponible dentro del contenedor */
    border-collapse: collapse;
}

.clientes-table th,
.clientes-table td {
    border: 1px solid #ddd;
    padding: 12px; /* Aumenta el espacio interno de las celdas */
    text-align: center; /* Centra el texto horizontalmente */
}

.clientes-table th {
    background-color: #f2f2f2;
}

.clientes-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.titulo {
    text-align: center; /* Centra el título horizontalmente */
    margin-bottom: 20px; /* Agrega espacio debajo del título */
}

.boton-agregar {
    display: block; /* Hace que el botón sea un bloque para poder centrarlo */
    margin: 0 auto; /* Centra horizontalmente */
    margin-top: 20px; /* Agrega espacio arriba del botón */
}
