/* Estilos generales */
.App {
  text-align: center;
}

/* Estilos para el formulario */
form {
  margin: 20px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
form button {
  margin: 5px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
}

/* Estilos para la tabla */

.table-container {
  margin-top: 20px; /* Ajusta este valor según sea necesario */
}
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Otros estilos */
button {
  cursor: pointer;
}

.icon {
  padding: 10px;
}